Flask==3.0.3
gunicorn==23.0.0
requests==2.32.3
isodate==0.7.2

# VERSIONES FIJAS QUE FUNCIONAN EN RENDER (2025)
google-api-python-client==2.111.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.1
